.footnote {
  font-size: 18px;
  margin-top: 12px;
  color: #666;
}

.mini {
  font-size: 12px;
}

p ~ .footnote, h1 ~ .footnote, h2 ~ .footnote {
  text-align: center;
}

img {
  max-width: 800px;
}

h1 {
  color: #AA3939;
}

.smbullets > ul > li {
  text-align: left;
}